<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="main">
        <h1>QR Code Generator</h1>
        <div class="container">
            <label for="text">Enter Text/URL :-</label>
            <input type="text" id="text" placeholder="Type your text here...">
            <button id="generate">Generate QR Code</button>
            <div class="qr-code-container">
                <img id="qr-code" src="" alt="QR Code">
            </div>
        </div>
    </div>
    
    <script src="static/script.js"></script>
</body>
</html>